<div class="card text-center">
    <div class="card-header" style="background-color:rgb(243, 206, 104);">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">            
          <a class="nav-link " [routerLink]="['allSongs']">Play Video<i class="fa fa-music" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['allSongs']">Video List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['mylist']" >Favourite List</a>
        </li>
      </ul>
    </div>
  </div>